*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    background-color: aliceblue;
    overflow: hidden;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    
}
.container{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.header_img{
    width: 100%;
    max-width: 500px;
    align-items: center;
}
h5{
    background-color: orangered;
    max-width: 160px;
    padding: 12px;
    margin-bottom: 28px;
    font-size: 28px;
    color: aliceblue;
    border-radius: 50px;
}
.header_title{
    margin: 40px 20px 20px;
}

.header_description{
    font-size: 28px;
    line-height: 1.2;
    margin: 28px 0;
}
.blog_description{
    display: flex;
    align-items: center;
    margin: 80px 20px 20px;
}
.blog_img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.blog_commentor{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    font-size: 16px;
}
.blog_commentor-name{
    font-size: 24px;
    font-weight: bold;
}
span{
    font-size: 24px;
    color: gray;
}